body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.brand-color {
  background-color: #f97239;
  color: #ffffff;
}

.App-header {
  background-color: #f97239;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn-circle {
  width: 40px;
  height: 40px;
  padding: 6px 0px;
  font-size: 18px;
  border-radius: 20px;
  background-color: #f97239;
  color: #fff;
  margin-left: 162px;
  /* float: left; */
}

.full-height {
  height: 85vh;
}

.flex-container {
   display: flex;
  flex-direction:row;
}

.flex-container > div {
  flex:1 1 auto;
  margin:5px;  /* and that, will result in a 10px gap */
}


.qty {
  width: 40px;
}

.pull-right {
  text-align: right;
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1400px;
  }
}